*{
  margin: 0;
  padding: 0;
}
.bodysection{
  min-height: 500px;
}
a:hover{
  text-decoration: none;
}
.headersection{
  background: #133861;
}
.navbar-brand{
	color:#fff !important;
	margin-right:50px;
	padding-right:50px;
}
.navbar-nav li a{
	text-transform:uppercase;
	color:#fff !important;
}
.edit-option{
	margin-left:80px;
}
.newpost{
  
}
.edit-option a{
  font-size: 25px;
  color:orange!important;
	padding-right:10px;
}
.edit-option a:hover{
  text-decoration: none;
}
.footersetion{
  background: #133861;
}
.text-center{
  padding: 10px;
  color:#fff;
}
.site-me{
  font-size: 18px;
  font-style: italic;
  color: #41c32b!important;
}
.text-center a{
  padding-right: 10px;
}
#id_text {
  padding: 5px;
  width: 100%!important;
}
.save_button{
  float: right;
}
.editLink{
padding: 5px;
}
 .fa-edit{
    padding: 5px;
     color:#000 !important;
 }
#id_title{
  padding: 5px;
}
.date{
  color:green;
}
.publishlink{
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
  background: #000;
}
.login_form{
  margin: 10px;
  padding: 5px;
}
.NewPost{
  margin: 10px;
  padding: 5px;
}
.publish_div{
  margin: 5px;
  padding: 5px;
}
.logoutsection{
  min-height: 400px;
}
.backhome{
  background: red;
  margin: 10px;
  padding: 10px;
  text-decoration: uppercase;
}
.post-form-blog{
  margin: 10px;
  padding: 10px;
}
.commentbtn{
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.commentsec{
  margin: 5px;
  padding: 5px;
}
