{% extends 'base.html' %}

{% block body %}

<h2>Iam sontus tripura</h2>
<div class="container">
  <p class="mb-6 pl-4 wow fadeInDown">I'm a 21 year-old.Iam a full-stack web developer.Iam from bangladesh.
    I have vast knowledge in <span class="typing"style="color:green; font-weight:bold;"></span> <br/>and so on.
     The work I provide is of highest quality, fully responsive, and tested in a wide range of devices.!</p>
    <a href="#" class="wow fadeInRight btn" data-wow-duration="7s">Download CV</a>
</div>

{% endblock %}
