<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sontus Tripura</title>
</head>

<body>
  {% for post in posts %}
      <div class="post">

          <div class="date">
              <p>Published: {{ post.publish_date }}</p>
          </div>

          <h1><a href="#">{{ post.title }}</a></h1>
          <p>{{ post.text|truncatechars:50|linebreaksbr }}</p>
      </div>
  {% endfor %}
</body>
</html>
